<p id="notice"><%= notice %></p>

<h1>Feeds</h1>
    
    <% @feeds.each do |feed| %>
        <p><%= feed.image %>
        <%= link_to 'Show', feed, class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_feed_path(feed), class: 'btn btn-info' %>
        <%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></p>
    <% end %>

<hr />

<p><%= link_to 'New Feed', new_feed_path %>
<%= link_to 'New Facebuuk',facebuuks_path %></p>
