<h3>Send it with the following contents.</h3>

<%= form_with(model: @facebuuk, url: facebuuks_path, local: true) do |form| %>
  <%= form.hidden_field :faceboak %>
  <p> Body: <%= @facebuuk.faceboak %> </p>
<li><%= form.submit  "Submit" %></li> 
  
  
<% end %>
  
  
<%= form_with(model: @facebuuk, url: new_facebuuk_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :faceboak %>
  
  
  
  <li><%= form.submit "back", name: 'back' %></li>
  

<% end %>